<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Roboto+Slab&display=swap"
          rel="stylesheet">

    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
            rel="stylesheet"
    />

    <title>Hello, world!</title>
    <link rel="stylesheet" href="stylesheets/base.css"/>
    <style> {% include "stylesheets/base.css" %} </style>
</head>
<body style="font-family: 'Atkinson Hyperlegible', sans-serif;">

<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: var(--primary);">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: var(--white); font-weight: bold;" href="#">NFC gift</a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Log in</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    {% if "images" in data and data["images"]|length > 0 %}
    <div class="card border-0 mt-3 mb-3 shadow-none" style="background-color: var(--gray);">
        <div class="card-body">
            <h5 class="ms-2 mb-2" for="images-table" style="color: var(--secondary)">Photos</h5>
            <div id="carouselExampleIndicators" class="carousel slide shadow-none" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% set vars = {'count': 0} %}
                    {% for image in data["images"] %}
                    {% if "missing" not in image or image["missing"] == False %}
                    {% if vars.update({'count': vars['count'] + 1}) %} {% endif %}

                    <div class="{{'carousel-item active' if vars['count'] == 1 else 'carousel-item'}}">
<!--                        <div class="card rounded-3">-->
                            <a href="{{url_for('get_resource', name=image['file_path'], type=image['mimetype'] if 'mimetype' in image else 'image')}}" target="_blank">
                                <img src="{{url_for('get_resource', name=image['file_path'], type=image['mimetype'] if 'mimetype' in image else 'image')}}"
                                     class="d-block w-100" alt="..." style="border-radius: 20px; mb-2">
                            </a>
                            {% if 'description' in image and image['description'] %}
                            <p class="mt-2 ms-2 me-2 mb-0">{{image['description']}}</p>
                            {% endif %}
<!--                        </div>-->
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% if vars['count'] > 1 %}
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if "video" in data and ("missing" not in data["video"] or data["video"]["missing"] == False) %}
    <div class="card border-0 mb-3 shadow-none" style="background-color: var(--gray);">
        <div class="card-body">
            <h5 class="ms-2 mb-2" for="images-table" style="color: var(--secondary)">Video</h5>
            <div class="embed-responsive embed-responsive-16by9" style="max-height: 360px;">
                <iframe class="embed-responsive-item form-control p-0"
                        src="{{url_for('get_resource', name=data['video']['file_path'], type=data['video']['mimetype'] if 'mimetype' in data['video'] else 'video/mp4')}}"
                        allowfullscreen=""
                        style="background-color: #000000; border-radius: 20px;"></iframe>
            </div>
            {% if 'description' in data['video'] and data['video']['description'] %}
                <p class="mt-2 ms-2 me-2 mb-0">{{data['video']['description']}}</p>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if 'message' in data %}
    <div class="card border-0 mb-3 shadow-none" style="background-color: var(--gray);">
        <div class="card-body">
            <h5 class="ms-2 mb-2" for="images-table" style="color: var(--secondary)">Message</h5>
            <p class="ms-2 me-2 mb-0">{{data['message']}}</p>
        </div>
    </div>
    {% endif %}

    {% if 'sender' in data %}
    <div class="card border-0 mb-3 shadow-none" style="background-color: var(--gray);">
        <div class="card-body">
            <h5 class="ms-2 mb-2" for="images-table" style="color: var(--secondary)">From</h5>
            <p class="ms-2 me-2 mb-0">{{data['sender']}}</p>
        </div>
    </div>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
</body>
</html>